.root {
    -fx-padding: 10;
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
}

.text-field {
    -fx-font-size: 24px;
    -fx-alignment: center-right;
    -fx-background-color: #f5f5f5;
    -fx-background-insets: 0, 0 0 1 0;
}

.button {
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 18px;
}

.button:hover {
    -fx-background-color: #e0e0e0;
}
